---
import Layout from '../../layouts/Layout.astro';
import '../../css/General.css'
export async function getStaticPaths() {
  const endpoint =
    "https://caasukwezdmtsmfxxqun.supabase.co/rest/v1/Cases?select=*";
  const key =
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNhYXN1a3dlemRtdHNtZnh4cXVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMwMTU1NTQsImV4cCI6MjA3ODU5MTU1NH0.YO2MqAkxjdggCNmn_ZgeiqU7Jm2CPZq7WxevzlmjOXE";
  const options = {
    method: "GET",
    headers: {
      apikey: key,
    },
  };
  const response = await fetch(endpoint, options);
  const data = await response.json();

  return data.map((post) => {
    return {
      params: { id: post.id },
      props: { post },
    };
  });
}

const { id } = Astro.params;
const { post } = Astro.props;
---
<Layout>
  <img
        src={`https://caasukwezdmtsmfxxqun.supabase.co/storage/v1/object/public/Cases/${post.case_img}`}
        alt="Placeholder img"
        class="card-image"
      />
<h1>{id}: {post.case_name}</h1>
<p>{post.case_textone}</p>
</Layout>