---
import Layout from "../layouts/Layout.astro";
import Flowcards from "../components/Flowcards.astro";
import ArrowLeft from "../components/Arrow_left.astro";
import ArrowRight from "../components/Arrow_right.astro";
---

<Layout>
<Flowcards />
<div><ArrowLeft />
<ArrowRight /></div>
</Layout>