<button class="left">
    <svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.293408 10.2929L10.2934 0.292919C10.3863 0.200008 10.4966 0.12631 10.618 0.0760269C10.7394 0.0257435 10.8695 -0.000137329 11.0009 -0.000137329C11.1323 -0.000137329 11.2624 0.0257435 11.3838 0.0760269C11.5052 0.12631 11.6155 0.200008 11.7084 0.292919C11.8013 0.38583 11.875 0.49613 11.9253 0.617523C11.9756 0.738916 12.0015 0.869024 12.0015 1.00042C12.0015 1.13181 11.9756 1.26192 11.9253 1.38332C11.875 1.50471 11.8013 1.61501 11.7084 1.70792L2.41466 11.0004L11.7084 20.2929C11.896 20.4806 12.0015 20.7351 12.0015 21.0004C12.0015 21.2658 11.896 21.5203 11.7084 21.7079C11.5208 21.8956 11.2663 22.001 11.0009 22.001C10.7355 22.001 10.481 21.8956 10.2934 21.7079L0.293408 11.7079C0.200432 11.615 0.126673 11.5048 0.0763483 11.3834C0.0260239 11.262 0.000123024 11.1318 0.000123024 11.0004C0.000123024 10.869 0.0260239 10.7389 0.0763483 10.6175C0.126673 10.4961 0.200432 10.3858 0.293408 10.2929Z" fill="#292E2B"/>
</svg>
</button>

<style>
    .left {
        display: inline;
     max-width: fit-content;
        border-radius: 46px;
        padding-left: 20px;
        padding-right: 25px;
        padding-top: 14px;
        padding-bottom: 14px;
        background-color: #DED2BA;
        border-style: none;
    }

    .left:hover {
        background-color: #B47852;
        cursor: pointer;
    }
</style>