<a href="../../cases" class="blue">Back to cases</a>

<style>
  a {
    margin-left: 20px;
  }
  .blue {
    background-color: #afcbd2;
    padding: 15px 30px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
    color: #292e2b;
    max-width: fit-content;
  }

  .blue:hover {
    background-color: #38485c;
    cursor: pointer;
    border-radius: 20px 0px 20px 0px;
    color: #f6f2ed;
    transition: 0.6s;
  }
</style>
