---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Cards.astro";
import Button from "../components/Button.astro";
const endpoint =
  "https://caasukwezdmtsmfxxqun.supabase.co/rest/v1/Cases?limit=4";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNhYXN1a3dlemRtdHNtZnh4cXVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMwMTU1NTQsImV4cCI6MjA3ODU5MTU1NH0.YO2MqAkxjdggCNmn_ZgeiqU7Jm2CPZq7WxevzlmjOXE";
const options = {
  method: "GET",
  headers: {
    apikey: key,
  },
};
const data = await fetch(endpoint, options).then((res) => res.json());
---

<div class="cases-container">
  <h2>Our cases</h2>
  <section class="card-flex">
    {data.map((product) => <Card data={product} />)}
  </section>
  <Button variant="primary" class="see-cases-button" href="/casses"
    >See our cases</Button
  >
</div>

<style>
  .cases-container {
    padding-left: 1em;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
  }

  .card-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1em;
    margin-bottom: 2em;
  }

  h2 {
    margin-left: 10px;
    margin-top: 2em;
    font-family: libre-r;
  }

  .see-cases-button {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 2em;
  }
</style>
