---
import Card from "../components/Cardstwo.astro";
const endpoint =
  "https://caasukwezdmtsmfxxqun.supabase.co/rest/v1/Cases?limit=10";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNhYXN1a3dlemRtdHNtZnh4cXVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMwMTU1NTQsImV4cCI6MjA3ODU5MTU1NH0.YO2MqAkxjdggCNmn_ZgeiqU7Jm2CPZq7WxevzlmjOXE";
const options = {
  method: "GET",
  headers: {
    apikey: key,
  },
};
const data = await fetch(endpoint, options).then((res) => res.json());
---

<section class="introduction-grid">
  <h1>Our cases</h1>
  <p>Short introduction text - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </section>
  <section class="card-grid">
    {data.map((product) => <Card data={product} />)}
  </section>


<style>
  h1 {
    margin: 20px;
    font-size: 3em;
  }

  p{
    margin: 20px;
    grid-column: 1/2;
  }

.introduction-grid{
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }


</style>
