---
const name = Astro.props.name;
const experience = Astro.props.experience;
const email = Astro.props.email;
---

<div class="card">
  <img src="" alt="" />
  <div class="card_text">
    <h3>{name}</h3>
    <p>{experience}</p>
    <p>{email}</p>
  </div>
</div>
<style></style>
