---
import general from "../css/General.css";
---

<section>
  <nav>
    <a href="/">About TÓKI</a>
    <a href="/">Contact</a>
    <a href="/">Cases</a>
  </nav>
  <img src="../img/TokiLogo.png" alt="" />
</section>
