---
const { heroImage } = Astro.props;
import Image from "../img/Heroflow.webp";
---

<div class="hero-card" style={`Image: ${heroImage}`}>
  <div class="hero-image">
    <img src="../" alt="Hero image" />
  </div>
</div>
