---
const { data } = Astro.props;
---

<section class="lottie-container">
  <div class="lottie-text">
    <h1>The TÓKI Flow</h1>
    <p>
      At Tóki, we don’t believe in one-size-fits-all. Our Tóki Flow is designed
      to adapt to your needs, so you only choose the steps that matter most to
      you.
    </p>
    <ul class="flow-steps">
      <li>
        <strong>Start</strong> by visualizing your concept and bringing your brand
        story to life.
      </li>

      <li>
        <strong>Define</strong> your design identity, ensuring clarity and purpose.
      </li>

      <li>
        <strong>Scale</strong> effortlessly with our global partners, turning ideas
        into reality.
      </li>
      <li>
        <strong>Refine</strong> and perfect your solution, so it doesn’t just look
        good, it works beautifully too. Along the way, we align insights and potential,
        keeping your vision sharp and focused.
      </li>
    </ul>
    <p>
      With Tóki Flow, you are in control. It’s flexible, intuitive, and built to
      fit your journey. Let’s create something meaningful, together.
    </p>
  </div>
  <div id="lottie-animation">
    <script
      src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.8.5/dist/dotlottie-wc.js"
      type="module"></script>
    <dotlottie-wc
      src="https://lottie.host/1246657b-38ce-49c7-80b6-8e7d032d9603/fhRbiXIshf.lottie"
      style="width: 100%; height: 100%; object-fit: contain;"
      autoplay
    >
    </dotlottie-wc>
  </div>
</section>

<style>
  .lottie-text {
    max-width: 500px;
    color: #38485c;
    margin: 0px 20px 0px 0px;
  }

  .lottie-text h1 {
    font-size: clamp(28px, 5vw, 48px);
    margin-bottom: 20px;
  }

  .lottie-text p {
    font-size: clamp(18px, 2.5vw, 20px);
    margin-bottom: 15px;
    line-height: 1.5;
  }

  .flow-steps {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: karla-r;
    line-height: 1.5;
    font-size: clamp(18px, 2.5vw, 20px);
    color: #292e2b;
  }

  .lottie-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    flex-wrap: wrap-reverse;
  }

  #lottie-animation {
    width: 100%;
    max-width: 580px;
    height: auto;
    aspect-ratio: 1/1;
  }

  @media only screen and (max-width: 600px) {
    #lottie-animation {
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;
    }

    .lottie-text {
      margin-left: 20px;
    }
  }
</style>
