    body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  main {
    max-width: 1160px;
  }
  @font-face {
    font-family: karla-r;
    src: url(../fonts/Karla-Regular.ttf);
  }
  @font-face {
    font-family: karla-sb;
    src: url(../fonts/Karla-SemiBold.ttf);
  }
  @font-face {
    font-family: libre-i;
    src: url(../fonts/LibreBaskerville-Italic.ttf);
  }
  @font-face {
    font-family: libre-r;
    src: url(../fonts/LibreBaskerville-Regular.ttf);
  }

  h1 {
    font-family: libre-r;
    font-size: 48px;
  }
  h2 {
    font-family: karla-r;
    font-size: 32px;
  }
  p {
    font-family: karla-r;
    font-size: 18px;
  }