body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f6f2ed;
}
main {
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  width: 100%;
  max-width: 1160px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@font-face {
  font-family: karla-r;
  src: url(../fonts/Karla-Regular.ttf);
}
@font-face {
  font-family: karla-sb;
  src: url(../fonts/Karla-SemiBold.ttf);
}
@font-face {
  font-family: libre-i;
  src: url(../fonts/LibreBaskerville-Italic.ttf);
}
@font-face {
  font-family: libre-r;
  src: url(../fonts/LibreBaskerville-Regular.ttf);
}

h1 {
  font-family: libre-r;
  font-size: 48px;
  color: #292e2b;
}
h2 {
  font-family: karla-r;
  font-size: 32px;
  color: #292e2b;
}
h3 {
  color: #292e2b;
  font-size: 28px;
  font-family: karla-r;
}
p {
  font-family: karla-r;
  font-size: 18px;
  color: #292e2b;
}

a {
  font-family: karla-r;
  font-size: 18px;
  color: #292e2b;
}

a:hover {
  font-family: karla-sb;
  font-size: 18px;
  color: #292e2b;
}
